* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}


.main-inner{
  height: 100%;
  width: 100%;
  background-color: blueviolet;
}

.footer__inner {
  display: flex;
  align-items: center;
  background-color: aquamarine;
}

